@font-face {
    font-family: 'HelveticaMC';
    src: url('helveticaneueltpro-mdcn-webfont.eot');
    src: local('☺'), url('helveticaneueltpro-mdcn-webfont.woff') format('woff'), url('helveticaneueltpro-mdcn-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaULC';
    src: url('helveticaneueltcom-ultltcn-webfont.eot');
    src: local('☺'), url('helveticaneueltcom-ultltcn-webfont.woff') format('woff'), url('helveticaneueltcom-ultltcn-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaLC';
    src: url('helveticaneueltcom-ltcno-webfont.eot');
    src: local('☺'), url('helveticaneueltcom-ltcno-webfont.woff') format('woff'), url('helveticaneueltcom-ltcno-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    background: url(6.jpg);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    height: 100%;
    color: #808080;
    overflow: hidden;
}

img {
    border: 0;
}

h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
    font-weight: normal;
}

p {
    line-height: 17px;
}

.clear {
    clear: both;
    font-size: 0;
    line-height: 0;
    display: block;
}



small, big {
    padding: 0;
    margin: 0;
}

/* extra classes for positioning available elements */



.float-left {
    float: left !important;
}

.set-size {
    margin: 0 auto;
}

/* PIE solution for rounded corners, for more check js/jquery-workarounds.js */
.curved {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    position: relative;
}

.curved-top {
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
    position: relative;
}

.curved-bottom {
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
    position: relative;
}

#container {
    padding: 0 0 15px 0;
}

#page {
    background: url(../images/bg-page.jpg) repeat-x top #f7f7f7;
    width: 1002px;
    margin: 0 auto;
    margin-top: 115px;
}

#page .set-size {
    padding: 0 0 30px 0;
}

#top {
    padding: 30px 30px 20px 30px;
    height: 70px;
}

#top .contact {
    padding: 12px 0 0 0;
}

#top .contact big, #top .contact small {
    font-size: 22px;
    text-transform: uppercase;
}

#top .contact big {
    font-family: HelveticaMC;
}

#top .contact small {
    padding: 0 0 0 10px;
    font-family: HelveticaULC;
}


#image {
    height: 370px;
    background: url(../images/bg-rotator.jpg) no-repeat bottom center;
    padding: 0 0 30px 0;
}

#image h1 {
    font-size: 35px;
    color: #00000a;
    text-align: center;
    font-family: HelveticaMC;
    font-weight: normal;
    height: 60px;
}

.try-container {
    position: relative;
}

.try-container .btn-try {
    background: url(../images/button-try-shadow.png) no-repeat bottom center;
    padding: 0 0 33px 0;
    width: 343px;
    margin: 0 auto;
    position: relative;
    height: 57px;
}

.try-container .btn-try a.normal {
    background: url(../images/button-try.png) no-repeat top left;
    width: 343px;
    height: 57px;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}

.try-container .btn-try a.hover {
    background: url(../images/button-try.png) no-repeat 0 -57px;
    width: 343px;
    height: 57px;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
}

.try-container .arrow-down-left {
    background: url(../images/down-left.png) no-repeat right 2px;
    height: 85px;
    position: absolute;
    top: 20px;
    right: 35px;
    padding: 0 55px 0 0;
    font-family: HelveticaLC;
    color: #5790dc;
    font-size: 22px;
}

.try-container .arrow-down-right {
    background: url(../images/down-right.png) no-repeat left 2px;
    height: 85px;
    position: absolute;
    top: 75px;
    left: 20px;
    padding: 0 0 0 55px;
    font-family: HelveticaLC;
    color: #5790dc;
    font-size: 22px;
}

.try-container .arrow-down-long-right {
    background: url(../images/down-long-right.png) no-repeat top left;
    padding: 50px 0 20px 110px;
    font-family: HelveticaLC;
    color: #5790dc;
    font-size: 22px;
    position: absolute;
    top: -30px;
    left: 35px;
}

.list-features {
    padding: 30px 0 0 0;
}

.list-features ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.list-features ul li {
    width: 205px;
    position: relative;
    padding: 0 0 0 80px;
    margin-left: 0 40px 0 0;
    float: left;
    height: 180px;
}


.list-features ul li  {
    color: #00000a;
    font-family: HelveticaMC;
    font-size: 22px;
}



.list-features ul li.nomargin {
    margin-right: 0;
}









/* Mixins */* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.buttons {
    text-align: center;
}

.btn-hover {
    width: 300px;
    font-size: 16px;
    font-weight: 600;
    color: #000;
    cursor: pointer;
    margin: 20px;
    height: 55px;
    border: none;
    background-size: 300% 100%;

    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    background-color: #0000FF;
    color: #fff;
    font-size: 24px;
    /*background-image: linear-gradient(to right, #6253e1, #852D91, #A3A1FF, #F24645);*/
}

.btn-hover:focus {
    outline: none;
}

.btn-hover.color-1 {
    background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);
    box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
}
.btn-hover.color-2 {
    background-image: linear-gradient(to right, #f5ce62, #e43603, #fa7199, #e85a19);
    box-shadow: 0 4px 15px 0 rgba(229, 66, 10, 0.75);
}
.btn-hover.color-3 {
    background-image: linear-gradient(to right, #667eea, #764ba2, #6B8DD6, #8E37D7);
    box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.75);
}
.btn-hover.color-4 {
    background-image: linear-gradient(to right, #fc6076, #ff9a44, #ef9d43, #e75516);
    box-shadow: 0 4px 15px 0 rgba(252, 104, 110, 0.75);
}
.btn-hover.color-5 {
    background-image: linear-gradient(to right, #0ba360, #3cba92, #30dd8a, #2bb673);
    box-shadow: 0 4px 15px 0 rgba(23, 168, 108, 0.75);
}
.btn-hover.color-6 {
    background-image: linear-gradient(to right, #009245, #FCEE21, #00A8C5, #D9E021);
    box-shadow: 0 4px 15px 0 rgba(83, 176, 57, 0.75);
}
/*.btn-hover.color-7 {
    background-image: linear-gradient(to right, #6253e1, #852D91, #A3A1FF, #F24645);
    box-shadow: 0 4px 15px 0 rgba(126, 52, 161, 0.75);
}*/

.btn-hover.color-7 {
    background-image: #ffffff00;
    box-shadow: 0 4px 15px 0 rgba(126, 52, 161, 0.75);
}
.btn-hover.color-8 {
    background-image: linear-gradient(to right, #29323c, #485563, #2b5876, #4e4376);
    box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75);
}
.btn-hover.color-9 {
    background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);
    box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
}
.btn-hover.color-10 {
        background-image: linear-gradient(to right, #ed6ea0, #ec8c69, #f7186a , #FBB03B);
    box-shadow: 0 4px 15px 0 rgba(236, 116, 149, 0.75);
}
.btn-hover.color-11 {
       background-image: linear-gradient(to right, #eb3941, #f15e64, #e14e53, #e2373f);  box-shadow: 0 5px 15px rgba(242, 97, 103, .4);
}







/* Styles go here */

.box {
    display:block;
    width:200px;
    height:100px;
    background-color:#DDD;
}
#pop {
    padding:0px 0px;
}
#example {
    position:relative;
}






.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  float: left;
  margin-top:-240px;
  margin-left: 969px;
}

.dropdown-content a {
  color: black;
  text-decoration: none;
  display: block;
 padding: 12px 16px;
float:left;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}